<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- To be removed in other projects -->
    <section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
    <!-- To be removed in other projects -->
    <section name="assemblyConfiguration" type="CBrain.AssemblyConfiguration, CBrain" />
    
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <!-- To be removed in other projects -->
  <rebus inputQueue="F2Puls.Publisher.input" errorQueue="F2Puls.Publisher.error" workers="1">
    <endpoints>
      <add messages="CBrain.F2.QueueMessages" endpoint="CabinetService.Publisher.input"/>
    </endpoints>
  </rebus>

  <!-- To be removed in other projects -->
  <assemblyConfiguration>
    <assemblies>
      <add name="F2WebPuls" implements="Rebus" />
    </assemblies>
  </assemblyConfiguration>

  <log4net configSource="Log4net.config" />
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
